.flex-cell.flex-cell--left.flex-cell--side
  %div
    .feed-filter__profile
      %a.feed-filter__profile-edit{:href => "#"} Edit profile
      .feed-filter__avatar
        = image_tag 'avatar.jpg', class: 'feed-filter__avatar-img'
    .feed-filter
      %h4.feed-filter__title.feed-filter__title--feed
        My feed
      %ul.feed-filter__list
        %li.feed-default.feed-filter__item
          = link_to 'View my feed', '/feed.html', class: 'feed-filter__link'
    .feed-filter
      %h4.feed-filter__title.feed-filter__title--groups
        Groups
      %ul.feed-filter__list.nav__groups
        %li Private Medical Centre
      %button.btn-beige.btn-new{"data-target" => "#group-create-modal", "data-toggle" => "modal"} Create group
