.col-lg-4.col-sm-4.col-xs-12.public-profile__info
  .public-profile__info-block
    %h2 About
    .public-profile__location
      %svg{:viewbox => "-269.621 175.622 150 150", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", :y => "0px"}
        %path.st0{:d => "M-157.471,191.009c-9.922-9.922-23.115-15.387-37.146-15.387c-14.034,0-27.224,5.465-37.146,15.387c-18.362,18.359-20.644,52.903-4.942,73.832l42.088,60.781l42.025-60.696C-136.827,243.911-139.109,209.368-157.471,191.009zM-194.132,246.845c-10.571,0-19.176-8.604-19.176-19.176s8.604-19.176,19.176-19.176c10.571,0,19.176,8.604,19.176,19.176S-183.561,246.845-194.132,246.845z", :fill => "#cbcbcb"}
      Sydney, Australia
    .public-profile__languages
      %svg#Capa_1{"enable-background" => "new 0 0 39 40", :height => "40px", :version => "1.1", :viewbox => "0 0 39 40", :width => "39px", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
        %g
          %g
            %path{:d => "M19.454,0.593c-10.676,0-19.36,8.684-19.36,19.36c0,3.667,1.014,7.195,2.941,10.248l-2.839,7.074c-0.223,0.559-0.093,1.182,0.335,1.61c0.289,0.279,0.67,0.438,1.052,0.438c0.186,0,0.372-0.037,0.558-0.112l7.065-2.829c3.053,1.917,6.581,2.933,10.248,2.933c10.675,0,19.361-8.686,19.361-19.361C38.814,9.277,30.129,0.593,19.454,0.593zM19.454,36.336c-3.342,0-6.525-0.987-9.233-2.857c-0.251-0.178-0.549-0.262-0.847-0.262c-0.186,0-0.372,0.037-0.559,0.112l-4.561,1.824l1.824-4.562c0.186-0.465,0.121-0.995-0.158-1.404c-1.862-2.699-2.848-5.893-2.848-9.234c0-9.029,7.353-16.382,16.382-16.382s16.382,7.353,16.382,16.382S28.491,36.336,19.454,36.336z", :fill => "#7E7864"}
      %ul
        %li
          English
  .public-profile__info-block
    %h2 Medical Practice
    %h3.feed-filter__title.feed-filter__title--groups Specialties
    %ul
      %li
        General Practice
    %h3.feed-filter__title.feed-filter__title--groups Sub-Specialties
    %ul
      %li
        Female Incontinence
      %li
        Urinary Tract Infection
  .public-profile__info-block
    %h2 Workplace
    %ul
      %li
        St. Vincent’s Hospital Private Clinic, Sydney
