.row
  .col-xs-12.public-profile__header
    = link_to 'Back', '/feed.html', class: 'public-profile__back'

    .public-profile__heading-wrapper
      .clearfix.public-profile__heading
        .public-profile__avatar-block
          = image_tag 'feed/ellen-lu.jpg', alt: 'Ellen lu', className: 'public-profile__avatar-img', width: '80', height: '80'
        .public-profile__name
          Ellen Lu
        .public-profile__title
          Doctor
