.flex-cell.flex-cell--right.flex-cell--side
  .discuss__trend
  .discuss__filters.feed-filter
    .feed-filter-header
      Filters
    .feed-filter__all
      %input#allspec.feed-filter__allspec.filter-checkbox{:checked => "checked", :type => "checkbox"}
      %label.feed-filter__link{:for => "allspec"} All topics
    %ul.feed-filter__list
      %li.feed-filter__item
        %input#346f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "346f"} Addiction Medicine
      %li.feed-filter__item
        %input#457f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "457f"} Addiction Psychiatry
      %li.feed-filter__item
        %input#381f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "381f"} Adolescent Medicine
      %li.feed-filter__item
        %input#348f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "348f"} Adult Cardiothoracic Anesthesiology
      %li.feed-filter__item
        %input#435f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "435f"} Adult Reconstructive Orthopaedics
      %li.feed-filter__item
        %input#354f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "354f"} Advanced Heart Failure &amp; Transplant Cardiology
      %li.feed-filter__item
        %input#426f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "426f"} Aerospace Medicine
      %li.feed-filter__item
        %input#347f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "347f"} Anesthesiology
      %li.feed-filter__item
        %input#504f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "504f"} Applied Dermatology
      %li.feed-filter__item
        %input#512f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "512f"} Bariatric Surgery
      %li.feed-filter__item
        %input#360f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "360f"} Biochemical Genetics
      %li.feed-filter__item
        %input#470f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "470f"} Brain Injury Medicine
      %li.feed-filter__item
        %input#387f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "387f"} Breast
      %li.feed-filter__item
        %input#455f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "455f"} Burns
      %li.feed-filter__item
        %input#353f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "353f"} Cardiology
      %li.feed-filter__item
        %input#406f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "406f"} Cardiothoracic Intensive Care
      %li.feed-filter__item
        %input#357f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "357f"} Cardiothoracic Surgery
      %li.feed-filter__item
        %input#417f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "417f"} Cerebrovascular &amp; Skull Base Surgery
      %li.feed-filter__item
        %input#458f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "458f"} Child And Adolescent Psychiatry
      %li.feed-filter__item
        %input#355f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "355f"} Clinical Cardiac Electrophysiology
      %li.feed-filter__item
        %input#359f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "359f"} Clinical Cytogenetics
      %li.feed-filter__item
        %input#358f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "358f"} Clinical Genetics
      %li.feed-filter__item
        %input#450f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "450f"} Clinical Paediatric Genetics
      %li.feed-filter__item
        %input#362f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "362f"} Clinical Pharmacology
      %li.feed-filter__item
        %input#503f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "503f"} Cosmetic Medicine
      %li.feed-filter__item
        %input#454f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "454f"} Cosmetic Surgery
      %li.feed-filter__item
        %input#453f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "453f"} Craniofacial Surgery
      %li.feed-filter__item
        %input#351f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "351f"} Critical Care
      %li.feed-filter__item
        %input#365f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "365f"} Dermatological Immunology
      %li.feed-filter__item
        %input#363f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "363f"} Dermatology
      %li.feed-filter__item
        %input#366f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "366f"} Dermatopathology
      %li.feed-filter__item
        %input#375f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "375f"} Diabetes &amp; Metabolism
      %li.feed-filter__item
        %input#398f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "398f"} Diagnostic Laboratory Immunology
      %li.feed-filter__item
        %input#373f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "373f"} Disaster Medicine
      %li.feed-filter__item
        %input#368f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "368f"} Emergency Medicine
      %li.feed-filter__item
        %input#374f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "374f"} Endocrinology
      %li.feed-filter__item
        %input#411f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "411f"} Endovascular Surgical Neuroradiology
      %li.feed-filter__item
        %input#421f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "421f"} Female Pelvic Medicine &amp; Reconstructive Surgery
      %li.feed-filter__item
        %input#436f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "436f"} Foot &amp; Ankle Orthopaedics
      %li.feed-filter__item
        %input#459f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "459f"} Forensic Psychiatry
      %li.feed-filter__item
        %input#376f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "376f"} Gastroenterology
      %li.feed-filter__item
        %input#379f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "379f"} General Medicine / Internal Medicine
      %li.feed-filter__item
        %input#380f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "380f"} General Practice (Family Medicine)
      %li.feed-filter__item
        %input#386f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "386f"} General Surgery
      %li.feed-filter__item
        %input#391f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "391f"} Geriatric Medicine
      %li.feed-filter__item
        %input#460f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "460f"} Geriatric Psychiatry
      %li.feed-filter__item
        %input#422f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "422f"} Gynecologic Oncology
      %li.feed-filter__item
        %input#393f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "393f"} Haematology
      %li.feed-filter__item
        %input#437f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "437f"} Hand Surgery
      %li.feed-filter__item
        %input#377f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "377f"} Hepatology
      %li.feed-filter__item
        %input#510f.filter-checkbox{:type => "checkbox"}
        %label.feed-filter__link{:for => "510f"} Histopathology

    = link_to 'Apply filters', filter_path, class: 'btn-beige btn-new feed-filter__apply-btn'
