.col-lg-8.col-sm-8.col-xs-12.public-profile__feed
  .discuss__feed
    .feed-search
    .feed-items
      .feed-item
        .feed-item__header
          %a.feed-item__avatar-block{:href => "#"}
            %img.feed-item__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/23/api_oran-headshot-min.jpg"}/
            OR
          .feed-item__header-main
            .feed-item__header-row
              %a.feed-item__author{:href => "#"}
                Oran Rigby
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 2 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 154px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %a.post-link{:href => "https://www.sciencedirect.com/science/article/pii/S0039606017302799", :target => "_blank"}
            .post-link__body
              %h2.post-link__title
                From innovation to market adoption in the operating room: The “CFO as customer” - ScienceDirect
              %span.post-link__link
                www.sciencedirect.com
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          %a.feed-item__avatar-block{:href => "#"}
            %img.feed-item__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/23/api_oran-headshot-min.jpg"}/
            OR
          .feed-item__header-main
            .feed-item__header-row
              %a.feed-item__author{:href => "#"}
                Oran Rigby
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-01T02:46:32.856Z"} 18 days ago
            .feed-item__header-aux{:style => "width: calc(100% - 154px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %a.post-link{:href => "http://www.jabfm.org/lookup/doi/10.3122/jabfm.2018.02.170141", :target => "_blank"}
            .post-link__body
              %h2.post-link__title
                Patient-Centered Guidelines for Geriatric Diabetes Care: Potential Missed Opportunities to Avoid Harm
              %span.post-link__link
                www.jabfm.org
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          %a.feed-item__avatar-block{:href => "#"}
            %img.feed-item__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/23/api_oran-headshot-min.jpg"}/
            OR
          .feed-item__header-main
            .feed-item__header-row
              %a.feed-item__author{:href => "#"}
                Oran Rigby
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-03-31T01:46:29.466Z"} 19 days ago
            .feed-item__header-aux{:style => "width: calc(100% - 154px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Did you know, some of our volunteer crew also moonlight as divers to keep the #AfricaMercy vents squeaky clean from litter and debris? Our dive team turns this challenging job into an adventure as they journey through dark and dingy conditions to their target—we’re grateful for the work they do!
          %a.post-link{:href => "https://www.facebook.com/MercyShips/photos/a.57420584899.68453.51379424899/10155843789994900/?type=3", :target => "_blank"}
            .post-link__header
              %img.post-link__img{:onerror => "$(this.parentNode).remove()", :src => "https://scontent-syd2-1.xx.fbcdn.net/v/t31.0-8/28828317_10155843789994900_3938527278492454489_o.jpg?_nc_cat=0&oh=1414babf4669f6763a1e35272614a3a7&oe=5B679ADE"}/
            .post-link__body
              %h2.post-link__title
                Mercy Ships - Did you know, some of our volunteer crew... | Facebook
              %span.post-link__link
                www.facebook.com
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          %a.feed-item__avatar-block{:href => "#"}
            %img.feed-item__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/23/api_oran-headshot-min.jpg"}/
            OR
          .feed-item__header-main
            .feed-item__header-row
              %a.feed-item__author{:href => "#"}
                Oran Rigby
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-03-30T01:52:48.744Z"} 20 days ago
            .feed-item__header-aux{:style => "width: calc(100% - 154px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text
            It’s great to see interconnected #healthcare developing in Australia:
            %a.inline-link{:href => "https://t.co/NppIpQ0obz", :target => "_blank"} https://t.co/NppIpQ0obz
            \#ieMR #healthnews
          %a.fancybox.feed-item__img{:href => "https://d1x2yd8scvgoir.cloudfront.net/discuss/story_image/image/36/full_ehealth_queensland_0.jpg"}
            %img{:alt => "", :src => "https://d1x2yd8scvgoir.cloudfront.net/discuss/story_image/image/36/preview_ehealth_queensland_0.jpg"}/
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          %a.feed-item__avatar-block{:href => "#"}
            %img.feed-item__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/23/api_oran-headshot-min.jpg"}/
            OR
          .feed-item__header-main
            .feed-item__header-row
              %a.feed-item__author{:href => "#"}
                Oran Rigby
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-03-29T01:46:10.238Z"} 21 days ago
            .feed-item__header-aux{:style => "width: calc(100% - 154px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %a.post-link{:href => "https://www.medgadget.com/2018/03/cardiomyocyte-molds-improve-cardiac-cell-therapy.html", :target => "_blank"}
            .post-link__header
              %img.post-link__img{:onerror => "$(this.parentNode).remove()", :src => "https://2nznub4x5d61ra4q12fyu67t-wpengine.netdna-ssl.com/wp-content/uploads/2018/03/cardiomyocutes.jpg"}/
            .post-link__body
              %h2.post-link__title
                Cardiomyocyte Molds to Improve Cardiac Cell Therapy | Medgadget
              %span.post-link__link
                www.medgadget.com
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          %a.feed-item__avatar-block{:href => "#"}
            %img.feed-item__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/23/api_oran-headshot-min.jpg"}/
            OR
          .feed-item__header-main
            .feed-item__header-row
              %a.feed-item__author{:href => "#"}
                Oran Rigby
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-03-28T01:45:52.588Z"} 22 days ago
            .feed-item__header-aux{:style => "width: calc(100% - 154px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %a.post-link{:href => "https://www.medgadget.com/2018/03/partial-wave-spectroscopy-spots-cells-turning-cancer.html", :target => "_blank"}
            .post-link__header
              %img.post-link__img{:onerror => "$(this.parentNode).remove()", :src => "https://2nznub4x5d61ra4q12fyu67t-wpengine.netdna-ssl.com/wp-content/uploads/2018/03/scope-up-close.jpg"}/
            .post-link__body
              %h2.post-link__title
                Partial Wave Spectroscopy Spots Cells Turning to Cancer | Medgadget
              %span.post-link__link
                www.medgadget.com
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          %a.feed-item__avatar-block{:href => "#"}
            %img.feed-item__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/23/api_oran-headshot-min.jpg"}/
            OR
          .feed-item__header-main
            .feed-item__header-row
              %a.feed-item__author{:href => "#"}
                Oran Rigby
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-03-27T01:45:52.751Z"} 23 days ago
            .feed-item__header-aux{:style => "width: calc(100% - 154px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %a.post-link{:href => "https://www.medgadget.com/2018/03/artificial-organelles-allow-manipulating-chemical-processes-inside-cells.html", :target => "_blank"}
            .post-link__header
              %img.post-link__img{:onerror => "$(this.parentNode).remove()", :src => "https://2nznub4x5d61ra4q12fyu67t-wpengine.netdna-ssl.com/wp-content/uploads/2018/03/implanted-organelle.jpg"}/
            .post-link__body
              %h2.post-link__title
                Artificial Organelles Allow Manipulation of Chemical Processes Inside Cells | Medgadget
              %span.post-link__link
                www.medgadget.com
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          %a.feed-item__avatar-block{:href => "#"}
            %img.feed-item__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/23/api_oran-headshot-min.jpg"}/
            OR
          .feed-item__header-main
            .feed-item__header-row
              %a.feed-item__author{:href => "#"}
                Oran Rigby
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-03-26T01:46:26.653Z"} 24 days ago
            .feed-item__header-aux{:style => "width: calc(100% - 154px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %a.post-link{:href => "https://www.medgadget.com/2018/03/artificial-kinesthetic-feedback-improves-control-prosthetic-devices.html", :target => "_blank"}
            .post-link__header
              %img.post-link__img{:onerror => "$(this.parentNode).remove()", :src => "https://2nznub4x5d61ra4q12fyu67t-wpengine.netdna-ssl.com/wp-content/uploads/2018/03/movement-feedback.jpg"}/
            .post-link__body
              %h2.post-link__title
                Artificial Kinesthetic Feedback Improves Control of Prosthetic Devices | Medgadget
              %span.post-link__link
                www.medgadget.com
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}
