@import 'bootstrap-sprockets'
@import 'bootstrap'
@import 'bourbon'
@import 'font-awesome'
// @import 'jquery.scrollbar'

// @import 'rails_bootstrap_forms'
// @import 'masonry/basic'
// @import 'flash'
// @import 'jquery.fancybox-buttons'
// @import 'jquery.fancybox-thumbs'
// @import 'jquery.fancybox'
// @import 'bootstrap-datetimepicker'
// @import 'daterangepicker-bs3'
// @import 'jqvmap'
// @import 'switchery'
// @import 'selectize'
// @import 'selectize.bootstrap3'
// @import 'video-js'
// @import 'textarea/jquery.highlight-within-textarea'
// @import 'bootstrap-multiselect'

@import 'virtual'

@import 'custom'
@import 'left-nav'
@import 'base'
@import 'app/common'
@import 'aggregate'
@import 'accounts'
@import 'articles'
@import 'feeds'
@import 'dashboard'
@import 'articles/form'
@import 'source-pages'
@import 'saved-news'
@import 'shares/form'
// @import 'home_old/components/fonts'
@import 'referrals'
@import 'filtered-news'
@import 'verification'
@import 'subscription'
@import 'streams'
@import 'campaigns'
@import 'search-page'
@import '../vendor/flash.css'
@import 'override'
@import 'welcome'

// @import 'fullcalendar'
@import 'calendar'
@import 'profile'
@import 'campaign-modal'
@import 'new-post-modal'
@import 'accordion'
@import 'tooltips'

@import 'post-full-content'
@import 'followed-modal'

@import 'page-filter'
@import 'magnet-grid'
@import 'feed-filter'
@import 'side-panel'
@import 'topics-list'
@import 'search-panel'
@import 'feed-item'
@import 'compose'
@import 'notifications'
@import 'post-link'
@import 'comment'
@import 'skysearch'
@import 'profile-modal'
@import 'spinner'
@import 'image-builder'
@import 'services'
@import 'group-management'
@import 'invitation-block'
@import '../consult.css.sass'

.content-magnet-filters
  .selectize-control
    min-width: 200px !important
    text-align: left


// DEMO PART ONLY!
.post-media.news
  .share-modal--research &
    background-image: image-url('app/research/poster-default.png')

  .share-modal--news &
    background-image: image-url('app/news/poster-default.png')

.feed-filter__apply-btn
  width: 94px
