%section.section--white.section--download
  .contentWrapper
    .download
      .download__body
        %p.download__text Stay in touch while you’re on the move.
        = link_to 'https://itunes.apple.com/us/app/plexa/id1298617153?ls=1&mt=8', class: 'download__text download__text--gold', target: 'blank' do
          Download our mobile app.
      = link_to 'https://itunes.apple.com/us/app/plexa/id1298617153?ls=1&mt=8', class: 'download__link', target: 'blank' do
        = image_tag 'home/new/app-store.jpg', alt: 'Download on the App Store'
