.stories-filter
  %div
    .content-magnet-filters.content-magnet-filters--news.form-inline.text-right
      .form-group
        %label Topics
        %span.multiselect-native-select
          .btn-group
            %button.multiselect.dropdown-toggle.btn.btn-default{"data-toggle" => "dropdown", :type => "button"}
              %span.multiselect-selected-text All selected (5)
              %b.caret
            %ul.multiselect-container.dropdown-menu
              %li.multiselect-item.multiselect-all.active
                %a.multiselect-all{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "multiselect-all"}/
                    Select all
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "346"}/
                    Addiction Medicine
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "503"}/
                    Cosmetic Medicine
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "454"}/
                    Cosmetic Surgery
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "368"}/
                    Emergency Medicine
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "380"}/
                    General Practice (Family Medicine)
      #sources-titles-filter.form-group
        %div
          %label Sources
          %span.multiselect-native-select
            .btn-group
              %button.multiselect.dropdown-toggle.btn.btn-default{"data-toggle" => "dropdown", :type => "button"}
                %span.multiselect-selected-text All selected (27)
                %b.caret
              %ul.multiselect-container.dropdown-menu
                %li.multiselect-item.multiselect-all.active
                  %a.multiselect-all{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "multiselect-all"}/
                      Select all
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "aapm.org.au"}/
                      aapm.org.au
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "ABC News"}/
                      ABC News
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "ABC Rural"}/
                      ABC Rural
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "abc.net.au"}/
                      abc.net.au
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "BBC News"}/
                      BBC News
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "BBC Sport"}/
                      BBC Sport
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "bbc.co.uk"}/
                      bbc.co.uk
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Brisbane Times"}/
                      Brisbane Times
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Emergency Medicine Australasia"}/
                      Emergency Medicine Australasia
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "FarmIreland.ie"}/
                      FarmIreland.ie
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "fetchrss.com"}/
                      fetchrss.com
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Financial Review"}/
                      Financial Review
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "FOAM4GP"}/
                      FOAM4GP
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "google.com"}/
                      google.com
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Independent.ie"}/
                      Independent.ie
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Internal and Emergency Medicine"}/
                      Internal and Emergency Medicine
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Irish Medical Times"}/
                      Irish Medical Times
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Journal of family nursing"}/
                      Journal of family nursing
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "macrobusiness.com.au"}/
                      macrobusiness.com.au
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Medgadget"}/
                      Medgadget
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "nytimes.com"}/
                      nytimes.com
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "NYTimes.com - Video"}/
                      NYTimes.com - Video
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "plasticsurgery.org"}/
                      plasticsurgery.org
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "The Australian"}/
                      The Australian
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "The Conversation"}/
                      The Conversation
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "the Guardian"}/
                      the Guardian
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "The Irish Times"}/
                      The Irish Times
