.stories-filter
  %div
    .content-magnet-filters.content-magnet-filters--news.form-inline.text-right
      .form-group
        %label Topics
        %span.multiselect-native-select
          .btn-group
            %button.multiselect.dropdown-toggle.btn.btn-default{"data-toggle" => "dropdown", :type => "button"}
              %span.multiselect-selected-text All selected (38)
              %b.caret
            %ul.multiselect-container.dropdown-menu
              %li.multiselect-item.multiselect-all.active
                %a.multiselect-all{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "multiselect-all"}/
                    Select all
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "457"}/
                    Addiction Psychiatry
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "348"}/
                    Adult Cardiothoracic Anesthesiology
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "435"}/
                    Adult Reconstructive Orthopaedics
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "354"}/
                    Advanced Heart Failure &amp; Transplant Cardiology
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "347"}/
                    Anesthesiology
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "504"}/
                    Applied Dermatology
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "512"}/
                    Bariatric Surgery
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "360"}/
                    Biochemical Genetics
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "470"}/
                    Brain Injury Medicine
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "387"}/
                    Breast
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "455"}/
                    Burns
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "353"}/
                    Cardiology
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "406"}/
                    Cardiothoracic Intensive Care
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "357"}/
                    Cardiothoracic Surgery
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "458"}/
                    Child And Adolescent Psychiatry
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "355"}/
                    Clinical Cardiac Electrophysiology
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "359"}/
                    Clinical Cytogenetics
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "358"}/
                    Clinical Genetics
              %li.active
                %a{:tabindex => "0"}
                  %label.checkbox
                    %input{:type => "checkbox", :value => "362"}/
                    Clinical Pharmacology

      #sources-titles-filter.form-group
        %div
          %label Sources
          %span.multiselect-native-select
            .btn-group
              %button.multiselect.dropdown-toggle.btn.btn-default{"data-toggle" => "dropdown", :type => "button"}
                %span.multiselect-selected-text All selected (180)
                %b.caret
              %ul.multiselect-container.dropdown-menu
                %li.multiselect-item.multiselect-all.active
                  %a.multiselect-all{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "multiselect-all"}/
                      Select all
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "AACN advanced critical care"}/
                      AACN advanced critical care
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Academic Emergency Medicine"}/
                      Academic Emergency Medicine
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Academic emergency medicine : official journal of the Society for Academic Emergency Medicine"}/
                      Academic emergency medicine : official journal of the Society for Academic Emergency Medicine
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Aesthetic plastic surgery"}/
                      Aesthetic plastic surgery
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Aesthetic surgery journal"}/
                      Aesthetic surgery journal
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Alzheimer disease and associated disorders"}/
                      Alzheimer disease and associated disorders
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Alzheimer's & dementia (New York, N. Y.)"}/
                      Alzheimer's &amp; dementia (New York, N. Y.)
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "American journal of disaster medicine"}/
                      American journal of disaster medicine
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "American journal of physiology. Gastrointestinal and liver physiology"}/
                      American journal of physiology. Gastrointestinal and liver physiology
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "American journal of respiratory and critical care medicine"}/
                      American journal of respiratory and critical care medicine
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Anaesthesia"}/
                      Anaesthesia
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Anesthesia and analgesia"}/
                      Anesthesia and analgesia
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Anesthesiology"}/
                      Anesthesiology
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Annals of cardiac anaesthesia"}/
                      Annals of cardiac anaesthesia
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Annals of emergency medicine"}/
                      Annals of emergency medicine
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Annals of family medicine"}/
                      Annals of family medicine
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Annals of intensive care"}/
                      Annals of intensive care
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Annals of surgery"}/
                      Annals of surgery
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Annals of the Royal College of Surgeons of England"}/
                      Annals of the Royal College of Surgeons of England
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Antiviral therapy"}/
                      Antiviral therapy
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Artificial intelligence in medicine"}/
                      Artificial intelligence in medicine
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Artificial organs"}/
                      Artificial organs
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Asia Pacific family medicine"}/
                      Asia Pacific family medicine
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Attention deficit and hyperactivity disorders"}/
                      Attention deficit and hyperactivity disorders
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Australian health review : a publication of the Australian Hospital Association"}/
                      Australian health review : a publication of the Australian Hospital Association
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Australian occupational therapy journal"}/
                      Australian occupational therapy journal
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "BMC Emergency Medicine"}/
                      BMC Emergency Medicine
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "BMC family practice"}/
                      BMC family practice
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Breast (Edinburgh, Scotland)"}/
                      Breast (Edinburgh, Scotland)
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Breast cancer : basic and clinical research"}/
                      Breast cancer : basic and clinical research
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Breast cancer (Tokyo, Japan)"}/
                      Breast cancer (Tokyo, Japan)
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Breastfeeding medicine : the official journal of the Academy of Breastfeeding Medicine"}/
                      Breastfeeding medicine : the official journal of the Academy of Breastfeeding Medicine
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "British journal of anaesthesia"}/
                      British journal of anaesthesia
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Burns : journal of the International Society for Burn Injuries"}/
                      Burns : journal of the International Society for Burn Injuries
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Cancer genetics"}/
                      Cancer genetics
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Cardiovascular intervention and therapeutics"}/
                      Cardiovascular intervention and therapeutics
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Cell and tissue research"}/
                      Cell and tissue research
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Circulation. Heart failure"}/
                      Circulation. Heart failure
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Clinical gastroenterology and hepatology : the official clinical practice journal of the American Gastroenterological Association"}/
                      Clinical gastroenterology and hepatology : the official clinical practice journal of the American Gastroenterological Association
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Contraception"}/
                      Contraception
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Critical care clinics"}/
                      Critical care clinics
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Critical care medicine"}/
                      Critical care medicine
                %li.active
                  %a{:tabindex => "0"}
                    %label.checkbox
                      %input{:type => "checkbox", :value => "Critical care research and practice"}/
                      Critical care research and practice
