* {
  font-family: "Influenza", Helvetica, sans-serif;
  font-weight: 100;
}

h1 {
  color: #7e7763;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #444444;
}

body.body-bg {
  background-color: #ededed;
}

.gold-bg {
  background-color: #7e7763;
}

.contentWrapper {
  width: 97.5%;
  margin: 0 0 0 1.25%;
  
  @include respond-to-min(768px) {
    width: 94%;
    margin-left: 3%;
  }
  
  @include respond-to-min(1900px) {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

.primary {
  margin: 15em auto;
}

.secondary {
  margin: 5em auto;
  
  @include respond-to-min(768px) {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

#stripes {
  transform: skewY(-12deg);
  -ms-transform: skewY(-12deg); /* IE 9 */
  -webkit-transform: skewY(-12deg); /* Safari and Chrome */
  width: 100%;
  height: 1400px;
  background-color: #f7f7f7;
  position: absolute;
  z-index: -999;
  top:-509px;

  /* new styles */
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;

  &::before {
    content: "";
    transform: skewY(12deg);
    -ms-transform: skewY(12deg); /* IE 9 */
    -webkit-transform: skewY(12deg); /* Safari and Chrome */
    background-image: image-url('home/network-lattice-background-light.png');
    background-repeat: repeat;
    background-position: top left;

    /* new styles */
    position: absolute;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    text-outline: -300px;
    width: 100%; /* something ridiculously big */
    height: 1400px; /* something ridiculously big */
  }
}

.open .dropdown-menu {
  display: block;
}

.centered {
  text-align: center;
}

.innerWrap {
  width: 100%;
  padding: 20px;
  
  @include respond-to-min(768px) {
    width: 85%;
    margin: 5em 7.5%;
    padding: 0;
  }
}

.kicker {
  color: #7e7763;
}

.clear {
  clear: both;
  height: 0px;
  border: none;
}

.blue { stroke: rgba(94,94,94,1); }
.red { stroke: rgba(126,119,99,1); }
.green { stroke: rgba(136,136,136,1);  }
.flexi {
  width: 90%;
  margin-left: 5%;
  
  @include respond-to-min(768px) {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
  }
  
  @include respond-to-min(1024px) {
    width: 100%;
  }
}

.content--type {
  width: 100%;
  
  button {
    height: 100%;
    width: 100%;
    border-radius: 0!important;
    background-color: #f7f7f7;
    font-family: 'Influenza', Helvetica, sans-serif;
    padding-left: 1.5rem;
  }
  
  button span,
  .dropdown-menu span {
    font-size: 1.2rem;
    padding-left: 17px;
  }
  
  svg,
  img {
    width: 45px;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  
  @include respond-to-min(768px) {
    flex: 0 0 65%;
    max-width: 65%;
  
    button {
      background-color: transparent;
      text-align: left;
      cursor: pointer;
    }
  }
}

.dropdown-menu {
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 0;
  text-align: center;
}

.specialty__area {
  background-color: #bcac85;
  color: #FFFFFF;
  
  @include respond-to-min(768px) {
    padding-top: 11px;
    margin-left: auto;
    background-color: transparent;
  
    button {
      color: #333;
      width: auto;
      height: 40px;
      float: right;
      text-align: right;
      background-color: transparent;
      font-weight: 500;
      border: 1px solid #d8d8d8;
      background: #fff;
    }
  
    .dropdown-menu {
      text-align: right;
      width: auto;
      left: inherit;
      right: 0;
      max-height: 192px;
      overflow-y: auto;
    }
  }
}

.small-title {
  color: #7e7763;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 15px;
}

.section--press {
  padding: 52px 0 64px;

  @include respond-to-max(580px) {
    padding: 32px 0 48px;
  }
}

.section--white {
  background: #fff;
}

.section--download {
  padding: 50px 90px;

  @include respond-to-max(768px) {
    padding: 40px 0;
  }

  @include respond-to-max(768px) {
    padding: 28px 0;
  }
}

.hint {
  font-size: 14px !important;
  margin-bottom: 0 !important;
}

.hint--white {
  color: #fff;
}

.inline-link {
  color: inherit;
  font-size: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

/* SVG Animations */
// TODO: check all styles below on home page ready
.loader {
  animation: step-rotate 15s infinite;
}

.spinner {
  display: inline-block;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #f7f7f7;
}

.waveform {
  fill: none;
  stroke-width: .250;
  width: 5em;
  height: auto;
}

@media (min-width: 768px) {
  .research-about {
    margin-top: 6px;
    float: right;
    text-align: right;
    margin-bottom: 0;
    line-height: 30px;
    color: #333;
    padding-right: 15px;
  }
  
  .ab-br {
    bottom: 0;
    right: 0;
  }
  .ab-br p {
    color: #333;
  }
}

@media (max-width:1023px) {
  header .active a:not(.btn) {
    color: #000;
  }
}


