.home-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  > .contentWrapper {
    min-height: calc(100vh - #{$header-height} - 155px);
    position: relative;
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;

    @include respond-to-max(768px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

.home-section--clinics {
  background-image: image-url('home/new/clinics-bg.jpg');
}

.home-section--pharmacists {
  background-image: image-url('home/new/pharmacists-bg.jpg');
}

.home-section--doctors {
  background-image: image-url('home/new/doctors-bg.jpg');
}

.home-section--charities {
  background-image: image-url('home/new/charities-bg.jpg');
}

.home-section--students {
  background-image: image-url('home/new/students-bg.jpg');
}

.home-section__title {
  color: #fff;
  font-size: 31px;
  font-weight: 300;
  margin-bottom: 120px;

  span {
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 2px;
    display: block;
    margin-top: 6px;
  }

  @include respond-to-max(1200px) {
    font-size: 28px;

    span {
      font-size: 62px;
    }
  }

  @include respond-to-max(768px) {
    font-size: 26px;
    margin-bottom: 80px;

    span {
      font-size: 54px;
    }
  }

  @include respond-to-max(580px) {
    font-size: 22px;

    span {
      font-size: 48px;
    }
  }
}

.home-section__panel {
  background: rgba(255, 255, 255, .8);
  padding: 15px 48px 20px 34px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: auto;
  max-width: 1100px;
  width: 100%;

  @include respond-to-max(1200px) {
    padding: 15px 38px 20px 24px;
  }

  @include respond-to-max(768px) {
    padding: 15px 22px;
  }

  @include respond-to-max(580px) {
    padding: 12px;
  }

  @include respond-to-max(480px) {
    flex-direction: column;
  }
}

.home-section__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;

  @include respond-to-max(480px) {
    margin-bottom: 18px;
  }
}

.home-section__list-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 150px;

  &:not(:last-child) {
    margin-right: 15px;
  }
  
  @include respond-to-max(1200px) {
    width: 128px;
    
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include respond-to-max(768px) {
    max-width: 110px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  @include respond-to-max(700px) {
    max-width: initial;
    width: 50%;
    padding: 0 16px;

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 7px;
    }
  }
}

.home-section__list-img-block {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  @include respond-to-max(768px) {
    height: 60px;
  }
}

.home-section__list-img {
  width: 60px;
  height: 60px;

  @include respond-to-max(768px) {
    transform: scale(.7);
  }
}

.home-section__list-caption {
  color: #333;
  font-size: 24px;
  line-height: 22px;
  display: block;

  @include respond-to-max(1200px) {
    font-size: 20px;
    line-height: 20px;
  }

  @include respond-to-max(768px) {
    font-size: 18px;
    line-height: 18px;
  }

  @include respond-to-max(480px) {
    margin: 0 auto;
    max-width: 110px;
  }
}

.home-section__list-btn {
  margin-left: auto;

  @include respond-to-max(480px) {
    margin-left: 0;
  }
}
