.magnet-item--yellow {
  .research__header {
    background: #d2a300
  }

  .card-title {
    background: #6e5b1b
  }
}

.magnet-item--red {
  .research__header {
    background: #831338
  }

  .card-title {
    background: #540921
  }
}

.magnet-item--green {
  .research__header {
    background: #288d00
  }

  .card-title {
    background: #1b5825
  }
}

.magnet-item--brown {
  .research__header {
    background: #5c4e42
  }

  .card-title {
    background: #3a2c20
  }
}

.magnet-item--blue {
  .research__header {
    background: #135a83
  }

  .card-title {
    background: #0b344b
  }
}

.magnet-item--purple {
  .research__header {
    background: #6d008d
  }

  .card-title {
    background: #1b1464
  }
}

.magnet__select {
  button,
  .dropdown-menu {
    text-align: left;
  }

  button {
    padding-left: 1.5rem;
  }
  
  @include respond-to-min(768px) {
    flex: 0 0 240px;
    max-width: 260px;
    float: left;
  
    .dropdown-item {
      text-align: left;
    }
  }
}

.magnet-item {
  padding: 0;
  margin: 0;
  display: block;
  color: #000;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    color: #000;
  }

  .magnet-item__body-title {
    font-size: 18px;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  @include respond-to-min(768px) {
    margin-top: 15px;
  }
}

#topic__selector {
  background-color: rgba(216, 216, 216, .2);
  
  @include respond-to-max(767px) {
    padding-left: 0;
    padding-right: 0;
  }
}
