#mailchimp--newsletter {
  height: 3rem;
  border-radius: 8px !important;
  background-color: #ededed;
  padding: 0.3rem;
  
  a {
    color: #333 !important;
  }
  
  input {
    border: 0;
  }
  
  .newsletter--signup-field {
    background-color: transparent;
    padding-left: 10px;
    width: calc(100% - 120px);
    
    &:focus {
      outline: none;
    }
  }
  
  .newsletter--signup-btn {
    background-color: #bcac85;
  }
  
  @include respond-to-min(768px) {
    height: 44px;
    line-height: 44px;
    padding: 0 0 0 10px;
    width: 333px;
  
    & > div[aria-hidden='true'] {
      bottom: 0;
    }
  
    input {
      height: 30px;
      line-height: 30px;
      margin: 7px 9px 0 0;
      font-size: 14px;
    }
  
    .newsletter--signup-field {
      height: 1.5em;
      border-radius: 2em;
      margin-right: 1em;
      color: #333 !important;
      letter-spacing: 0.07em;
      padding: 0.5em 2em;
    }
  }
}

.mailchimpButton {
  float: right;
  height: 2.3rem;
  padding: 0 1em !important;
  border-radius: 8px !important;
  background: #bcac85 !important;
  color: #fff;
}
