.partnership {
  background: rgba(255, 255, 255, .7);
  border-radius: 14px;
  padding: 27px 22px 32px;

  @include respond-to-max(580px) {
    padding: 22px 12px 22px;
  }
}

.partnership__title {
  text-align: center;
  font-size: 19px;
  margin-bottom: 17px;
}

.partnership__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;

  @include respond-to-max(480px) {
    text-align: center;
  }
}

.partnership__item {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 8px;

  &:not(:last-child) {
    margin-right: 9px;
  }
}

.partnership__link {
  &:focus {
    outline: none;
  }
}
