.carousel {
  margin: 3em auto;
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
}

.slick-slide {
  margin: 0 1em!important;
  transition: height 2s!important;
}

.slick-current {
  padding: 3em 0 3em!important;
  margin-top: -2em!important;
  transition: height 2s!important;
}

.pricingFeatured {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #dadada;
  margin: 1em auto;
  width: 30%;
  padding: 1em 0;
  float: left;
  margin-right: 5%;

  &:last-child {
    margin-right: 0;
  }
  
  h2 {
    color: #7e7763;
    text-align: center;
  }
  
  p {
    width: 90%;
    margin-left: 5%
  }
  
  ul {
    width: 100%;
    margin: 1em 0 2em;
    padding: 0;
  }
  
  li {
    border-top: 1px solid #7e7763;
    list-style: none;
    padding: .5em 5%;
    width: 100%;
  }
  
  li span {
    float: right;
  }
  
  .influenza {
    background: #7e7763 image-url('home/influenza-i-cropped.png') top left no-repeat;
    background-size: contain;
    color: #fff;
    font-size: 1.5em;
    border: none;
  }
  
  @include respond-to-max(1023px) {
    width: 32%;
    margin-right: 2%;
  }
  
  @include respond-to-max(767px) {
    width: 100%;
    margin-right: 0;
    float: none;
    
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  
}
