%ul.page-filter
  %li.page-filter__item
    %a.page-filter__link.page-filter__link--active{ href: '#' }
      New
  %li.page-filter__item
    %a.page-filter__link{ href: '#' }
      Saved
  %li.page-filter__item
    %a.page-filter__link{ href: '#' }
      Rejected
