%header.consult__header
  .consult__logo.pull-left
    = image_tag 'consult/logo.svg'
    %span Quantum Consult
  = link_to '/feed.html', class: 'consult__close pull-right' do
    = image_tag 'consult/close.svg'
