%header.consult__header
  .consult__logo.pull-left
    = image_tag 'consult/logo.svg'
    %span Quantum Consult
  %a.consult__close.pull-right{ href: '/feed.html' }
    = image_tag 'consult/close.svg'
