.container-fluid.consult
  = partial 'header'
  .consult__loading.block-centered
    = partial 'spinner'
    %p
      Your responses are being processed.
      %br
      This should take less than 30 seconds.
