.container-fluid.consult
  = partial 'header'
  .consult__loading.block-centered
    = partial 'spinner'
    %p
      Please wait while we find doctors

:coffee

  setTimeout ->
    window.location.href='reply.html'
  , 2000
