.container-fluid.consult
  = partial 'header'
  %form.consult__pay.block-centered
    %h1.consult__pay-title View and pay
    .consult__pay-escrow Escrow payable now: $120.25
    %ul.consult__pay-cards
      %li.consult__pay-card
        %input.x-checkbox{ type: 'radio', name: 'card-type', id: 'ch1' }
        %label{ for: 'ch1' }
        = image_tag 'consult/paypal@2x.png'
      %li.consult__pay-card
        %input.x-checkbox{ type: 'radio', name: 'card-type', id: 'ch2' }
        %label{ for: 'ch2' }
        = image_tag 'consult/visa2x.png'
      %li.consult__pay-card
        %input.x-checkbox{ type: 'radio', name: 'card-type', id: 'ch3' }
        %label{ for: 'ch3' }
        = image_tag 'consult/mastercard@2x.png'
    .consult__pay-fields
      %input.consult__pay-card-number{ placeholder: 'Card number' }
      %input.consult__pay-card-expiry-date{ placeholder: 'Expiry date' }
      %input.consult__pay-card-ccv{ placeholder: 'CCV' }
    %button.btn-green.consult__pay-view-btn View
