.container-fluid.consult
  = partial 'header'
  .consult__reply-notification.block-centered
    %img{ src: '/images/consult/dr_avatar.png' }
    %p
      Dr.Helen Kalingsky
      %br
      has sent a Quantum Reply.
    %button.btn-green.consult__reply-notification-btn View reply
