.container-fluid.consult
  = partial 'header'
  .consult__reply-notification.block-centered
    = image_tag 'consult/dr_avatar.png'
    %p
      Dr.Helen Kalingsky
      %br
      has sent a Quantum Reply.
    %a.btn-green.consult__reply-notification-btn{ href: '/consult/pay.html' } View reply
