.container-fluid.consult
  = partial 'header'
  .consult__reply-notification.block-centered
    = image_tag 'consult/dr_avatar.png'
    %p
      Dr.Helen Kalingsky
      %br
      has sent a Quantum Reply.
    = link_to 'View reply', '/consult/pay.html', class: 'btn-green consult__reply-notification-btn'
