.container-fluid.consult
  = partial 'header'
  .consult__thanks.block-centered
    .consult__thanks-for-view
      %p Thanks for viewing Dr. Kalinsky’s consultation!
      %a.btn-new.btn-black{ href: '/consult/video.html' } Play again
    .consult__thanks-prescription.clearfix
      %span.pull-left You have a prescription available
      %a.btn-new.btn-green.pull-right{ href: '/consult/prescription.html' } View & collect
    .consult__thanks-referral.clearfix
      %span.pull-left You have a referral available
      %button.btn-new.btn-green.pull-right View & collect
