.container-fluid.consult
  = partial 'header'
  .consult__video.block-centered
    .consult__video-play
      = image_tag 'consult/video-image-2.jpg'
      .consult__video-bar
      .consult__video-progress
    .consult__video-doctor.pull-left Dr. Helen Kalinsky
    %a.consult__video-profile-link.pull-right{ href: '#' } View profile
